<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head(pageTitle='Apuestas')}"></head>
<body>
  <div class="wrapper">
    <nav th:replace="~{layout :: page_navbar}"></nav>
      
    <main th:fragment="content">
      <div class="container mt-5">
        <!-- Título dinámico según el rol -->
        <h1 class="text-center mb-4" sec:authorize="hasRole('USER')">Tus Apuestas</h1>
        <h1 class="text-center mb-4" sec:authorize="hasAnyRole('ADMIN', 'MOD')">Listado de Apuestas</h1>

        
        <!-- Tabla de apuestas -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title" sec:authorize="hasRole('USER')">Apuestas Realizadas</h3>
            <h3 class="card-title" sec:authorize="hasAnyRole('ADMIN', 'MOD')">Apuestas del Sistema</h3>
          </div>
          <div class="card-body">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th sec:authorize="hasRole('ADMIN')">Codigo</th>
                  <th>Fecha de Apuesta</th>
                  <th>Monto</th>
                  <th>Robot Apostado</th>
                  <th>Estado</th>
                  <th>Usuario</th>
                </tr>
              </thead>
              <tbody>
                <!-- Filtra apuestas según el rol -->
                <tr th:each="apuesta : ${apuestas}">
                  <th th:text="${apuesta.id}" sec:authorize="hasRole('ADMIN')"></th>
                  <td th:text="${apuesta.fechaCreacion.toString().substring(0, 10)}"></td>
                  <td th:text="${apuesta.monto}"></td>
                  <td th:text="${apuesta.robotApostado.nombre}"></td>
                  <td th:text="${apuesta.estado}"></td>
                  <td th:text="${apuesta.usuario.nombre}"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
    
    <footer th:replace="~{layout :: page_footer}"></footer>
  </div>
</body>
</html>
