<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
  <head th:replace="~{layout :: page_head(pageTitle='My Gambling Site')}"></head>
  <body>
    <nav th:replace="~{layout :: page_navbar}"></nav>
    <div class="container">
        <h1 class="text-center my-4" sec:authorize="hasRole('ADMIN')">Administración de Robots</h1>
        <h1 class="text-center my-4" sec:authorize="!hasRole('ADMIN')">Top 10 Robots</h1>
        <a class = "btn btn-primary" href="/robot/crear" sec:authorize="hasRole('ADMIN')">Crear robot</a>
        <form class="d-flex mb-4" sec:authorize="hasRole('ADMIN')" action="/robot/buscar" method="get">
            <input class="form-control me-2" type="search" name="query" placeholder="Buscar robot por nombre" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
        <table class="table">
        <thead>
            <tr>
                <th>NOMBRE</th>
                <th>VICTORIAS</th>
                <th>DERROTAS</th>
                <th>CONTROLADOR</th>
                <th>ARMAS</th>
                <th>FECHA DE CREACION</th>
                <th>FOTO</th>
                <th sec:authorize="hasRole('ADMIN')">OPCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="robot : ${robots}">
                <td th:text="${robot.nombre}"></td>
                <td th:text="${robot.victorias}"></td>
                <td th:text="${robot.derrotas}"></td>
                <td th:text="${robot.jugador}"></td>
                <td th:text="${robot.armas}"></td>
                <td th:text="${robot.fecha_creacion.toString().substring(0,10)}"></td>
                <td>
                    <img th:src="@{'/images/' + ${robot.image}}" alt="Robot Image" width="100">
                </td>
                <td style="white-space:nowrap" sec:authorize="hasRole('ADMIN')">
                    <a class="btn btn-primary btn-sm"
                        th:href="@{/robot/editar(id=${robot.id})}">Editar</a>
                    <a class="btn btn-danger btn-sm"
                        th:href="@{/robot/eliminar(id=${robot.id})}"
                        onclick="return confirm('Are you sure?')">Eliminar</a>

                </td>
            </tr>
        </tbody>
        </table>
    </div>
    <footer th:replace="~{layout :: page_footer}"></footer>
  </body>
</html>