<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head(pageTitle='Apuestas')}"></head>
<body>
  <div class="wrapper">
    <nav th:replace="~{layout :: page_navbar}"></nav>
      
    <main th:fragment="content">
      <div class="container mt-5">
        <h1 class="text-center mb-4">Listado de Apuestas</h1>

        <!-- Tabla de apuestas -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Tus Apuestas</h3>          
          </div>
          <div class="card-body">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Fecha de Apuesta</th>
                  <th>Monto</th>
                  <th>Combate</th>
                  <th>Robot Apostado</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="apuesta : ${apuestas}">
                  <td th:text="${apuesta.fechaApuesta.toString().substring(0, 10)}"></td>
                  <td th:text="${apuesta.monto}"></td>
                  <td th:text="${apuesta.combate.nombre}"></td>
                  <td th:text="${apuesta.robotApostado.nombre}"></td>
                  <td th:text="${apuesta.estado}"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
    
    <footer th:replace="~{layout :: page_footer}"></footer>
  </div>
</body>
</html>
